.container{
    padding: 10px;
}
.search{
    width: 100%;
    height: 30px;
    border: 1px solid #006699;
    position: relative;
    margin-bottom: 10px;
}
.search input[type="text"]{
    width: 100%;
    height: 30px;
    padding-right: 70px;
    border: none;
    background:none;
    margin-bottom: 0px;
    font-size: 15px;
    color: #474747;
}
.search input[type="submit"]{
    width: 60px;
    height: 28px;
    background-color: #006699;
    color: #fff;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
}
.history-top{
    font-size: 14px;
    color: #8f8f94;
    overflow: hidden;
    /*当然也可以该给元素添加类mui-clearfix*/
    padding-bottom: 12px;
}
.history-top .title{
    float: left;
    /*当然也可以该给元素添加类mui-pull-left*/
}
.history-top .clear{
    float: right;
    /*当然也可以该给元素添加类mui-pull-right*/
}
.history-top .clear .mui-icon-trash{
    font-size: 18px;
    line-height: normal;
}

